<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="well">
      <div class="article article-title">
        <%= link_to article.title, article_path(article) %>
      </div>
      <div class="article-body">
        <%= truncate(strip_tags(article.text), length: 200) %>
      </div>
      <% if user_signed_in? && current_user == article.user %>
        <div class="article_actions">
          <%= link_to 'Edit', edit_article_path(article), class: "btn btn-xs btn-primary" %>
          <%= link_to 'Delete', article_path(article), method: :delete, 
                  data: { confirm: 'If you press "yes" you won\'t be able to undo this action' },
                  class: "btn btn-xs btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



