// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.greeting {
	color: #252162;
}

.greeting h1 {
	padding: 1em 2em 0em 2em;
	margin: 0;
	font-size: 1.2em;
}

.greeting p {
	padding: 0.3em 3em 0.3em 3em;
	margin: 0;
	text-align: justify;
	font-size: 0.9em;
}

#p_first {
	padding-top: 1em;
}

.blue_bgd {
	margin: 1em 0;
	background-color: #252162;
	height: 5em;
	text-align: center;
	color: white;
	line-height: 0.5;
}

#today {
	color: #FFFF00;
	font-size: 3em;
	font-weight: 500;
}

.numbers {
	color: #ffff00;
	font-size: 1.3em;
	font-weight: 500;
}

.article-title {
	font-weight: bold;
	font-size: 1.2em;
}

.article-body {
	border-top: 1px solid #eaeaea;
	padding-top: 2em;
	padding-bottom: 2em;
}

footer {
	margin-top: 4em;
	text-align: center;
	height: 4em;
	background-color: #252162;
	color: #ffffff;
}