// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.greeting {
	color: #252162;
	padding: 0.3em 0.3em;
}

.greeting h1 {
	font-size: 1em;
	font-weight: 600;
	text-align: center;
}

.greeting p {
	text-align: left;
	font-size: 0.85em;
}

#p_first {
	padding-top: 1em;
}

.blue_bgd {	
	background-color: #252162;
	text-align: center;
	color: white;
	padding: 0 0 .7em 0;
	position: relative;
	display: block;
	margin-top: 2em;
	z-index: 0;
}

.blue_bgd p {
	font-size: 0.85em;
	margin: 0 !important;
	padding: 0.2em 0;
}

#today {
	color: #FFFF00;
	font-size: 2.5em;
	font-weight: 600;
	margin: 0 0.5em;
	padding: 0.5em;
}

.hidden {
	display: none;
}

#circle {
	margin-top: 1.2em;
	width: 67px;
	height: 67px;
	position: absolute;
	-webkit-border-radius: 34px;
	-moz-border-radius: 34px;
	border-radius: 34px;
	background: #252162;
	left: 50%;
	transform: translate(-50%);
	top: -2em;
	z-index: -1;
}

.articles_list h2 {
	color: #252162;
	font-size: 0.95em;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
	font-weight: 700;
}

.article_header {
	border-bottom: 10px solid black;
}

.article-title {
	font-weight: 600;
	font-size: 1em;
	padding-bottom: 0.5em;
	text-decoration: underline;
}

.article-body {
	border-top: 1px solid #eaeaea;
	margin-top: 1em;
	padding: 1em 0;
}

#medium_btn {
	margin-top: 0;

}

#myModalLabel {
	font-size: 1.2em;
}

.modal-body h3 {
	font-size: 1em;
}

.modal-body p {
	font-size: 0.8em;

}

.show_h2 {
	font-size: 1.2em;
}

footer {
	margin-top: 4em;
	text-align: center;
	height: 4em;
	background-color: #252162;
	color: #ffffff;
}





medias


p_last {
	padding-bottom: 1em;
}


hidden {
	display: none;
}

.numbers {
	color: #ffff00;
	font-size: 1em;
	font-weight: 500;
}